#content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2rem;
    min-height: 100vh;
    justify-content: center;
    overflow: auto;
    padding: 12px 16px;
}

#content .row {
    width: 100%;
    height: auto;
    justify-content: center;
}

.row .title {
    color: rgb(48, 48, 48);
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

.error-container p {
    color: rgb(255, 70, 70);
}

.error-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#content .row.plugin-content {
    display: flex;
    flex-direction: column;
}
#user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
    margin: 0 auto;
}
#user-details .main-user-information p {
    padding-left: 16px;
}
#user-details .main-user-information p small u {
    padding-left: 16px;
}
#user-details .main-user-information p:nth-child(3) {
    margin-top: 1rem;
}